.Gamearea__score {
    position: relative;
    width: auto;
    height: 70px;
    background: #4a752c;
    display: flex;
    align-items: center;
    padding: 0 40px;
    color: white;
}

.Emoji {
    font-size: 30px;
}

.Score {
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
}

.Board {
    position: relative;
    background-color: #578a34;
    padding: 40px;
}

.Board__row {
    height: 40px;
}

.Board__cell {
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.Board__cell--light {
    background: #aad752;
}
.Board__cell--dark {
    background: #a2d149;
}

.Board__cell--snake {
    background-color: #8640c7;
}

.Board__cell--food {
    background-color: red;
}
